@model MovieViewModel
@{
    ViewData["Title"] = "Team Details";
}

<h2 class="text-center">Movie Details</h2>

<div class="row">
    <div class="col-6 offset-3">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <img src="~/images/@Model.Movie.LogoImage" alt="" />
                <h3>@Model.Movie.Name</h3>
            </li>
            <li class="list-group-item">
                <h4>Genre: @Model.Movie.Genre.Name</h4>
            </li>
            <li class="list-group-item">
                <h4>Member: @Model.Movie.Member.Name</h4>
            </li>
            <li class="list-group-item">
                <form asp-action="Add" method="post">
                    <a asp-action="Index" class="btn btn-primary"
                       asp-route-activeGenre="@Model.ActiveGenre"
                       asp-route-activeMember="@Model.ActiveMember">Return to Home Page</a>
                    <button type="submit" class="btn btn-primary">
                        Add to Favorites
                    </button>
                    <input type="hidden" asp-for="Movie.MovieID" />
                </form>
            </li>
        </ul>
    </div>
</div>
